<% content_for :title, @item[:title] %>
<section class="section">
  <div class="container">

    <div class="columns is-vcentered">
      <div class="column">
        <figure class="image mb-3 has-text-centered" style="width: 300px; margin: auto;box-shadow: 0.5em 0.5em 1em -0.5em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.1);border: 1px solid #8a8888;">
          <%=
              image_tag item_image_url(@collection[:slug], @item[:slug]),
              alt: @item[:title]
          %>
        </figure>
      </div>
      <div class="column">
        <h1 class="subtitle is-4">
          <%= @item[:title] %>
        </h1>
        <h2 class="subtitle is-6">
          <%= @item[:author] %>,
          <%= @item[:published_at] %>
        </h2>
        <div class="tags has-addons">
          <span class="tag">ERC721 Token</span>
          <span class="tag is-primary">10 copies</span>
        </div>
        <div class="tags has-addons">
          <span class="tag">
            <%= link_to @collection[:title], collection_path({collection: @collection[:slug]}) %>
          </span>
          <span class="tag is-primary"><%= @item[:id] %></span>
        </div>
      </div>
    </div>

    <div class="columns mt-6 mb-6">
      <div class="column is-1"></div>
      <div class="column">
        <p class="subtitle">
          <%= @item[:description] %>
        </p>
      </div>
      <div class="column is-1"></div>
    </div>


    <div class="columns">
      <div class="column is-2"></div>
      <div class="column is-8">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <td>
                Owner
              </td>
              <td>
                Buy at
              </td>
            </tr>
          </thead>
          <tbody>
            <% for owner in @owners %>
            <tr>
              <td>
                <%= owner.address %>
              </td>
              <td>
                <%= owner.buy_at %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="column is-2"></div>
    </div>


    <div class="columns">
      <div class="column is-2"></div>
      <div class="column is-8">
        <p>
        This item is part of a <%= @collection[:title] %> collection. You can own this one sperately or you can own all the items in the collection. Below you can see rest of the collection.
        </p>
      </div>
      <div class="column is-2"></div>
    </div>
    <div class="columns">
      <div class="column is-2"></div>
      <% for item_key in @collection[:items].keys %>
        <% item = @collection[:items][item_key] %>
        <% next if item[:id] == @item[:id] %> 
      <div class="column">
        <div class="card">
          <div class="card-image">
            <%= link_to item_path({collection: @collection[:slug], item: item[:slug]}) do %>
              <figure class="image">
                <%=
                    image_tag item_image_url_thumbnail(@collection[:slug], item[:slug]),
                      alt: item[:title]
                %>
              </figure>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <div class="column is-2"></div>
      </div>


    </div>
</section>
