<!DOCTYPE html>
<html>
  <head>
    <title><%= "XCGRADUS | #{yield(:title)}" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    favicon_link_tag 'icon.png'
  </head>

  <body>
    <%= render "layouts/header" unless params[:controller] == 'page' %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
